.card-wrapper {
  padding: 40px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.card-link {
  color: black;
}

.card-link:hover {
  text-decoration: none;
}

.card-date {
  text-align: right;
  display: block;
  color: #777777;
}